@import url(https://glyphsearch.com);

.account-pages{
	background-attachment: fixed;
}
#editarComentario {
    margin: 10px 0px 10px 0px;
    padding-bottom: 45px;
}
.time.notificacao{
	font-size: 12px;
	color: #3994ec;
}
.col-sm-8.caixa{
	float: right;
}
.comment-footer.postagem {
    padding: 8px 0px 7px 0px;
}
.notification-list.nicescroll.notificacao{
	height: auto;
}
.col-sm-4.post{
	padding-left: 0px;
}
.col-lg-10.post{
	padding-left: 0px;
}
.btn.btn-inverse.btn-bordred.waves-effect.w-md.waves-light.m-b-5.cad_atividade {
    float: right;
    margin-right: 10px;
}
button.btn.btn-success.waves-effect.waves-light.btn-sm.m-b-5.float{
	float: right;
	margin-top: 5px;
}
div#comentario_postagem{
	float: right;
}
section#comentario_postagem{
	margin: 20px;
	float: right;
}
section.col-sm-8.postagem{
	float:right;
}
a.admin{
	color: #fff !important;
	text-decoration: none;
}
input.tamanho7{
	width: 100%!important;	
}
a.cancelar{
	color: #435966;
	text-decoration: none;
}
button.btn.btn-default.waves-effect.waves-light.m-l-5.borda{
	border-color: rgba(75, 79, 80, 0.3);
}
body.inteiro{
	height: 100%;
}
button.btn-primary.publicar{
	float: right;
}
button.btn-inverse.adicionar{
	background-color:#34c3a1!important;
	border-color: #34c3a1!important;
}
.col-md-10.post{
	padding-top: 5px;
	padding-left: 0!important;
}
/*submenu materias*/
.submenu.megamenu {
    max-height: 400px;
    overflow-y: scroll;
    width: 280px !important;
    overflow-x: hidden;
}
.lateral .col-sm-4{
	float:right!important;
}
.row {
	margin-top: 15px;
}
section.col-sm-4.inteiro{
	height: 100%!important;
}

.profile-info-name.feed img {
	width: 8em;
	float: left;
	margin-right: 10px;
}
.profile-info-name.feed{
	height: 100px;
	margin-bottom: 20px; 
}
.bg-feed{
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    height: auto;
    overflow: auto;
 }
 .bg-post{
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    height: auto;
    overflow: auto;
 }
.container{
	width: 98%;
}
.profile-info-name.postagem{
	height: auto;
}
.profile-info-name.postagem img {
	width: 4.5em;
}
.img-TERmbnail.postagem {
	padding:0px;
}

.card-box.mini-calendar {
	padding: 8% 22.2%;
}
.col-sm-12.titulo{
	margin-top: 20px;
}
.required.email.form-control.meio{
	width: 100%;
	margin: auto;
}
.form-group.clearfix.float{
	float:left;
	
}
.nav_index{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}
.logo_inicial{
	background: url("../images/big/e1.JPG") center;
}

/*Caixa do login principal*/
.card-box.box_login {
    padding: 0 20px 20px 20px;
    overflow: hidden;
}
@import url(https://glyphsearch.com);

.centralizado{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	float: none;
	/*width: 40%;*/
}
.radio label {
	width: 100px;
}

.container{
	width: 98%;
}
.profile-info-name.postagem img {
	width: 4.5em;
}
.img-TERmbnail.postagem {
	padding:0px;
}
.publicacoes{
	width: 66.66666%;
	height: 100%;
}
.wrapper.topo {
  padding-top: 13%;
  padding-right: 5em;
  padding-left: 5em;
  background-color: rgb(212, 228, 253);
}
.nav_index{
	width: 100%;
	height: 10%;
	background-color: rgba(0,0,0,0.5);
	/*box-shadow: 0 0 7px rgba(0,0,0,0.2);
	border: 3px solid #F5F5F5;*/
	background-size: cover;
	position: absolute;
}
.botao_index{

	background-color: #F5F5F5;
	box-shadow: none;
}
.col-sm-8.form{
	margin-left: auto;
	margin-right: auto;
}

.col-sm-5.post{
	padding-left: 0px!important;
}

.profile-pills li a{

	padding: 0px 8px;
}
.comment-avatar.post{
	width: 52px;
	height: 52px; 
}
.comment .comment-body.post{
	margin-left: 65px;
	margin-right: 18px
}
#topnav .navigation-menu > li.last-elements .submenu.turmas{
	left:0;
	right:0;
}


/*Caixa do login principal*/

h5.nome{
	font-size: 16px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

@font-face{
	font-family: 'adelaide';
	src: url('../fonts/Adelaide.otf');
}
@font-face{
	font-family: 'woodhouse';
	src: url('../fonts/Woodhouse');
}