<div class="datepicker-days" style="display: block;">
                                <table class=" table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="prev" style="visibility: visible;">«</th>
                                            <th colspan="5" class="datepicker-switch">April 2017</th>
                                            <th class="next" style="visibility: visible;">»</th>
                                        </tr>
                                        <tr>
                                            <th class="dow">Su</th>
                                            <th class="dow">Mo</th>
                                            <th class="dow">Tu</th>
                                            <th class="dow">We</th>
                                            <th class="dow">Th</th>
                                            <th class="dow">Fr</th>
                                            <th class="dow">Sa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="old day">26</td>
                                            <td class="old day">27</td>
                                            <td class="old day">28</td>
                                            <td class="old day">29</td>
                                            <td class="old day">30</td>
                                            <td class="old day">31</td>
                                            <td class="day">1</td>
                                        </tr>
                                        <tr>
                                            <td class="day">2</td>
                                            <td class="day">3</td>
                                            <td class="active day">4</td>
                                            <td class="day">5</td>
                                            <td class="day">6</td>
                                            <td class="day">7</td>
                                            <td class="day">8</td>
                                        </tr>
                                        <tr>
                                            <td class="day">9</td>
                                            <td class="day">10</td>
                                            <td class="day">11</td>
                                            <td class="day">12</td>
                                            <td class="day">13</td>
                                            <td class="day">14</td>
                                            <td class="day">15</td>
                                        </tr>
                                        <tr>
                                            <td class="day">16</td>
                                            <td class="day">17</td>
                                            <td class="day">18</td>
                                            <td class="day">19</td>
                                            <td class="day">20</td>
                                            <td class="day">21</td>
                                            <td class="day">22</td>
                                        </tr>
                                        <tr>
                                            <td class="day">23</td>
                                            <td class="day">24</td>
                                            <td class="day">25</td>
                                            <td class="day">26</td>
                                            <td class="day">27</td>
                                            <td class="day">28</td>
                                            <td class="day">29</td>
                                        </tr>
                                        <tr>
                                            <td class="day">30</td>
                                            <td class="new day">1</td>
                                            <td class="new day">2</td>
                                            <td class="new day">3</td>
                                            <td class="new day">4</td>
                                            <td class="new day">5</td>
                                            <td class="new day">6</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-months" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="prev" style="visibility: visible;">«</th>
                                            <th colspan="5" class="datepicker-switch">2017</th>
                                            <th class="next" style="visibility: visible;">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month active">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-years" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="prev" style="visibility: visible;">«</th>
                                            <th colspan="5" class="datepicker-switch">2010-2019</th>
                                            <th class="next" style="visibility: visible;">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year active">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year new">2020</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div> 